<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264318451051-vl8rak00karegmrjanq92a71qu33jqbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264318451051-vl8rak00karegmrjanq92a71qu33jqbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCdQusuRq2rZlaDfTX7-NXPhQkJiLRiXzg</string>
	<key>GCM_SENDER_ID</key>
	<string>264318451051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pert5</string>
	<key>PROJECT_ID</key>
	<string>pert6-44d04</string>
	<key>STORAGE_BUCKET</key>
	<string>pert6-44d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264318451051:ios:8def7a28786905b7ce602e</string>
</dict>
</plist>